{{!< layout}}
 <header class="aui-page-header">
     <div class="aui-page-header-inner">
         <div class="aui-page-header-main intro-header">
             <h1>{{title}}</h1>
         </div>
     </div>
 </header>

 <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <table class="aui">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each project}}
                    <tr>
                        <td headers="name">
                            <a href="https://urjctfg.atlassian.net/browse/" + {{this.key}} target="_top">
                                {{this.name}}</a>
                        </td>
                        <td headers="actions">
                            <input class="aui-button aui-button-primary dial-action"
                            type="button" onclick="namingProject('{{this.name}}')" value="Añadir tarea" />
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div id="dial-content" class="dialog-content" aria-hidden="true">
                <div class="issue-text">
                    <p id="title"></p>
                    <br>
                    <input style="width: 27.5em;" id="myTitle" type="text" class="myArea" value="Feature: " />
                    <textarea id="myText" class="myArea" rows="12" cols="50"></textarea>
                </div>
                <div class="button-actions">
                    <input class="aui-button aui-button-primary add-button"
                    type="button" onclick="createIssue()" value="Añadir" />
                    <input class="aui-button cancel-button dial-close" type="button"
                    value="Cancelar" />
                </div>
            </div>
        </div>
    </div>