{{!< layout}}
 <header class="aui-page-header">
     <div class="aui-page-header-inner">
         <div class="aui-page-header-main intro-header">
             <h1>{{title}}</h1>
         </div>
     </div>
 </header>

 <div class="aui-page-panel main-panel">
        <div class="aui-page-panel-inner">
            <table class="aui">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each project}}
                    <tr>
                        <td headers="name">
                            <a href="https://urjctfg.atlassian.net/browse/" + {{this.key}} target="_top">
                                {{this.name}}</a>
                        </td>
                        <td headers="actions">
                            <button class="aui-button aui-button-primary dial-action">Añadir tarea</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div id="dial-content" class="dialog-content" aria-hidden="true">
                <div class="issue-text">
                    <p>Feature: <input type="text" placeholder="Introducir feature"/></p>
                    <p>As: <input type="text" placeholder="Ej: User"/> I want to</p>
                    <p>Description: <input type="text" placeholder="A short description"/> so then</p>
                    <p>Scenario: <input type="text" placeholder="Scenario"/></p>
                    <p>Given: <input type="text" placeholder="Given"/></p>
                    <p>When: <input type="text" placeholder="When"/></p>
                    <p>Then: <input type="text" placeholder="Then"/></p>
                </div>
                <div class="button-actions">
                    <button class="aui-button add-button">Añadir</button>
                    <button class="aui-button cancel-button dial-close">Cancelar</button>
                </div>
            </div>
        </div>
    </div>