/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}

.aui-page-panel.main-panel{
  height: 30em;
}

.main-panel .aui-page-panel-inner {
  padding: 20px 0 20px 0;
}

.main-panel .aui {
  width: 40%;
  margin-left: 25em;
}

.dialog-content {
  width: 45%;
  background-color: #A9A9A9;
  margin-left: 25em;
  border-radius: 4px;
  padding: 10px;
  height: 22em;
}

.issue-text > p {
  font-weight: bold
}

.issue-text > label {
  font-weight: bold
}

.button-actions {
  position: absolute;
  bottom: 2em;
  right: 16px;
}

.add-button {
  background-color: #228B22;
  font-weight: bold;
  color: white;
  border: none;
}

.cancel-button {
  background-color: #FF0000;
  font-weight: bold;
  color: white;
  border: none;
}

.myArea{
  border: 3px solid #228B22;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  border-radius: 5px;
  position: absolute;
}
#myText{
  margin-top: 3em;
}