/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}

.main-panel .aui-page-panel-inner {
  padding: 20px 40px 20px 0;
}

.main-panel .aui {
  width: 40%;
  margin-left: 25em;
}

.dialog-content {
  width: 100%;
  text-align: center;
}